# {{ package_name }}

Please fill this README with information about your python app

# Template information

Compared to [simple-modern-uv](https://github.com/jlevy/simple-modern-uv) there are these othere differences:

Added features:
- Development within docker container
- Deployment of app into container
- Integration with devcontainers extension in VS Code 
- pre commit hooks
- using pyright instead of basedpyright. Intended to be used in VS Code
- deploying the app, based on Astral's [UV in docker](https://github.com/astral-sh/uv-docker-example/blob/main/Dockerfile)

Some features were removed to simplify the template:
- Integration with Github Actions
- Publishing workflow
- Agents

## How to develop this app

Check `devops/development.md` for a comprehensive guide on how to develop your python app. It offers two possibilities:

1. Develop directly on your machine (Linux or MAC, for Windows it is based on WSL)
2. Develop within a Dockercontainer to ensure environment isolation. Integration with git and contains all needed dependencies for development (not just python ones) 

## How to deploy this app

Check `devops/development.md` for a comprehensive guide on how to deploy your python app in a Docker container. 

