#!/bin/bash

PROJECT_NAME={{ package_name }}

docker run --rm -it \
  -u appuser \
  -v $(pwd):/home/appuser/${PROJECT_NAME} \
  -v ~/.gitconfig:/home/appuser/.gitconfig:ro \
  -w /home/appuser/${PROJECT_NAME} \
  ${PROJECT_NAME}_dev:local \
  bash -c "make install && exec bash"
